*.class

# Package Files #
*.jar
*.war
*.ear

ImageAnalysis/.idea/
ImageAnalysis/.project/
ImageAnalysis/.classpath
ImageAnalysis/ImageAnalysis.iml
ImageAnalysis/ImageAnalysis-grailsPlugins.iml
ImageAnalysis/target/
