*.class

# Package Files #
*.jar
*.war
*.ear

ImageAnalysis/.idea/
ImageAnalysis/.project/
ImageAnalysis/.classpath
ImageAnalysis/ImageAnalysis.iml
ImageAnalysis/ImageAnalysis-grailsPlugins.iml
ImageAnalysis/target/

build-ImageAnalysisC-Desktop_Qt_5_3_clang_64bit-Debug/
.DS_Store
